
<!DOCTYPE html>
<html class="wide wow-animation" lang="fr">

  <head>
    <!-- Site Title-->
    <title>{% block title %}Meditec dental {% endblock %}</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <link rel="icon" href="{{ asset('MDMeditec/public/images/favicon.ico') }}" type="image/x-icon">
	{% block meta %}{% endblock %}
    <!-- Stylesheets-->
	{% block style %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400,300%7CRoboto+Slab:400,700%7CMontserrat:700%7CPacifico">
        <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" href="{{ asset('MDMeditec/public/css/fonts.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('MDMeditec/public/css/bootstrap.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('MDMeditec/public/css/style.css') }}" type="text/css" />
	<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="{{ asset('MDMeditec/public/js/html5shiv.min.js') }}"></script>
	<![endif]-->
	{% endblock %}
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-head">
	  	{% block menu %}
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-fullwidth" data-xl-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-device-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-device-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-stick-up-offset="100px">
            <!--(data-layout='rd-navbar-fixed',data-sm-layout='rd-navbar-fullwidth', data-lg-layout=rd_navbar_data_ajuster )-->

            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap" type="submit"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="{{ path('MD_Admin') }}"><img src="{{ asset('MDMeditec/public/images/meditec-dental-gris.png') }}" alt="Meditec dental"/></a></div>
              </div>
              <div class="rd-navbar-nav-wrap">
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="#">Actualités</a>
                        <ul class="rd-navbar-dropdown">
                          <li><a href="{{path('MD_Admin_Ajouter_Actualite')}}">Ajouter</a></li>
                          <li><a href="{{path('MD_Admin_Liste_Actualite')}}">Gérer</a></li>
                        </ul>
		   </li>
                  <li><a href="#">Partenaires</a>
			<ul class="rd-navbar-dropdown">
                            <li><a href="{{ path('MD_Admin_Ajouter_Partenaire') }}">Ajouter</a></li>
                            <li><a href="{{ path('MD_Admin_Liste_Partenaire') }}">Gérer</a></li>
			</ul>
                    </li>
                  <li><a href="#">Chiffres</a>
			<ul class="rd-navbar-dropdown">
                            <li><a href="{{ path('MD_Admin_Ajouter_Chiffre') }}">Ajouter</a></li>
                            <li><a href="{{ path('MD_Admin_Liste_Chiffre') }}">Gérer</a></li>
			</ul>
                  </li>
                  <li><a href="#">Newsletter</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="{{ path('MD_Admin_Liste_Newsletter') }}">Liste client</a></li>
                    </ul>
                  </li>                  
                  <li ><a href="#">Pages</a>
                    <!-- RD Navbar Megamenu-->
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <p>Informatique</p>
                        <ul>
                          <li><a href="{{ path('MD_Admin_Page_Informatique') }}">Gérer la page</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Radiologie</p>
                        <ul>
                          <li><a href="{{ path('MD_Admin_Page_Radiologie') }}">Description</a></li>
                          <li><a href="{{ path('MD_Admin_Radiologie_Liste_Produit') }}">Gérer les produits</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Sauvegarde</p>
                        <ul>
                          <li><a href="{{ path('MD_Admin_Page_Sauvegarde') }}">Gérer la page</a></li>
                        </ul>
                      </li>
                      <li>
                        <p>Application</p>
                        <ul>
                            <li><a href="{{ path('MD_Admin_Page_Application') }}">Description</a></li>
                          <li><a href="{{ path('MD_Admin_Application_Liste_Produit') }}">Gérer les produits</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="{{ path('MD_Admin_Icone') }}" target="_blank">Icones</a></li>
                  <li><a href="{{ path('logout') }}">Deconnexion</a></li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
{% endblock %}
      </header>
	  
	  {% block contend %}{% endblock %}
	  
	  {% block footer %}
      <!-- Page Footer-->
      <footer class="page-foot bg-light">
        <section class="footer-copyright-1 copyright">
          <div class="container">
            
          </div>
        </section>
      </footer>
	  {% endblock %}
      <!-- Rd Mailform result field-->
      <div class="rd-mailform-validate"></div>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Java script-->
	<script src="{{ asset('MDMeditec/public/js/core.min.js') }}"></script>
    <script src="{{ asset('MDMeditec/public/js/script.js') }}"></script> 
	
  </body>
</html>
