{% extends "::admin.html.twig" %}

{% block title %}{{ parent() }} - ajouter une application {% endblock %}

{% block contend %}
<!-- Page Content-->
<main class="page-content">

<section class="section section-inset-1">  
  <div class="container">
    <h3 class="text-center">{{ titre }}</h3>
    <hr>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="col-12 text-center">
        {% if errors is not empty %}
            <div class="alert alert-danger" role="alert">{{ errors }}</div>
        {% endif %}
        {% if msg is not empty %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endif %}
    </div>
    <div class="row row-45 ">
      <div class="col-12 text-center ">
          {{ form_label(form.titre, "Titre de la page", {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(form.titre, {'attr': {'class': 'form-input'}}) }}
        <br/>
        <div class="input-group">
            <label class="input-group-btn" required="required">
                <span class="btn btn-success btn-xs" >
                    Image&hellip;{{ form_widget(form.file, {'attr': {'style': 'display: none','onchange':'handleFiles(files)'}}) }}
                </span>
            </label>
            <input type="text" class="form-input" readonly>
        </div>
        <br/>
        <div class="input-group">
             {{ form_label(form.alt, "ALT ...", {'label_attr': {'class': 'form-label'}}) }}
             {{ form_widget(form.alt, {'attr': {'class': 'form-input'}}) }}
        </div>
        <br/>
        <div class="input-group ">
             {{ form_label(form.text, "Description ...", {'label_attr': {'class': 'form-label'}}) }}
             {{ form_widget(form.text, {'attr': {'class': 'form-input'}}) }}
        </div><br/>
        <div class="text-right">
         <button class="btn btn-success btn-sm" type="submit">Enregistrer</button>
        </div>
      </div>
    </div>
    {{ form_end(form) }}
  </div>
</section>  
</main>
<script src="{{ asset('MDMeditec/public/js/file.js') }}"></script>

{% endblock %}



